*.tlog
*.obj
*.sbr
*.cod
*.vcxproj.user
Server/Release_MSVC/
*.pch
*.lastbuildstate
*/.vs/
Lib/Dx9/*
.vs/
Server/Release/
Client/ReleaseD3D/
Client/Release/
Client/Debug/
FOnlineRP/Release/
Mapper/Release/
ASCompiler/Release/
Mapper/ReleaseD3D/
